<!-- extends base.html -->
{% extends "base.html" %}
{% block title %}500{% endblock %}

{% block content %}
  <h3>Internal Server Error</h3>
  <p>
    One of us screwed up....probably me, but I'm gonna keep my eye on you.
  </p>
{% endblock %}
