<!-- extends base.html -->
{% extends "base.html" %}
{% block title%}Index{% endblock %}
{% block content %}
<h2>This be the landing page.</h2>
<p>Some information would go here.</p>
<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
  tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
  vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
  no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
{% endblock %}
