<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}Events List{% endblock %}
{% block content %}
  {% for event in events %}
    <div class='item-display'>
      <h3><a href="{{ url_for('events.detail', event_id=event.id) }}">{{event.title}}</a></h3>
      <p>{{event.start_date}} -- {{event.description}}</p>
      <p>{{event.teams}}</p>
      <p>{{event.categories}}</p>
    </div><!-- end .item-display -->
  {% endfor %}
  <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('events.add') }}">New Event</a>
{% endblock%}
